body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 80px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

div {
  margin: 0 0 0 0;
}

span {
  text-decoration: underline;
}

.top-container {
  background-color: #E9FBF7;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
  position: relative;
  left: 250px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
}

.me_img {
  height: 150px;
  background-color: #E9FBF7;
  border-radius: 70px;
}

.profile_titles {
  font-family: 'Sacramento', cursive;
}

.computer_img {
  height: 150px;
  background-color: #E9FBF7;
  border-radius: 70px;
}
.python_img {
  height: 150px;
  background-color: #E9FBF7;
  border-radius: 70px;
}
